/**
 *  Styling for AsciiDoc videos that matches the
 *  Docsmobile DocVideo component.
 *
 *  Resources:
 *  - AsciiDoc guide: https://github.com/elastic/docs?tab=readme-ov-file#videos
 *  - Docsmobile docs: https://docs.elastic.dev/docs/reference/doc-video
 *  - Migration guide: https://docs.elastic.dev/migration/syntax/videos
 */

#guide {
  /* This should line up with img.pcss. */
  .videoblock {
    img {
      max-width: 100%;
    }
    iframe {
      width: 100%
    }
  }
}
