# Docs Eng owns the codebase
* @elastic/docs-engineering

#Readme changes must be approved by writers
*.asciidoc @elastic/docs-engineering @elastic/docs-repo-owners

# Writers and Docs Eng share ownership of config files
‎/resources/asciidoctor/lib/chunker/v3-mapping.json‎ @elastic/docs-engineering @elastic/docs-repo-owners
/shared/ @elastic/docs-engineering @elastic/docs-repo-owners
*.yaml @elastic/docs-engineering @elastic/docs-repo-owners
