.gradle
bin
.includepath
.ignorepath
.settings
.classpath
/styles.css
.project
.repos/*/
*.iml
*.ipr
*.iws
*.log
/*.xml
/*.pdf
!html/sitemap.xml
metastore_db
html_docs/
!resources/asciidoctor/**/bin
resources/asciidoctor/build
resources/asciidoctor/vendor/**/cache
.rspec_status
