.gradle
bin
.includepath
.ignorepath
.settings
.classpath
/styles.css
.project
.vscode
.DS_Store
.repos/*/
*.iml
*.ipr
*.iws
*.log
/*.xml
/*.pdf
metastore_db
html_docs/
vendor

# Comes from running rspec tests
.rspec_status
