.gradle
bin
.includepath
.ignorepath
.settings
.classpath
/styles.css
.project
.vscode
.DS_Store
.repos/*/
*.iml
*.ipr
*.iws
*.log
/*.xml
/*.pdf
!html/sitemap.xml
metastore_db
html_docs/
vendor

# Comes from running tests in resources/asciidoctor
resources/asciidoctor/build
.rspec_status
