#guide {
  .AlternativePicker {
    margin-left: 20px;

    &-warning {
      display: none; /* Unhidden if there isn't a matching alternative. */
      margin: 5px 20px;
      $bg: "img/alert.svg";
      width: width($bg);
      height: height($bg);
      background-image: inline($bg);
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}
