#guide {
  * {
    font-family: Inter, sans-serif;
  }

  hr {
    margin: 2em 0;
  }

  .blockquote {
    font-size: 1rem;
  }

  dt span {
    font-weight: bold;

    code {
      font-size: 16px;
    }
  }

  dd {
    margin: 0 0 0.5em 2em;
  }

  p {
    margin-bottom: 1.15em;
  }

  details {
    margin-bottom: 1.15em;
  }
}
