#guide .calloutlist {
  background: #343642;
  color: #ffffff;
  margin: -15px 0 15px auto;
  border-top: 1px solid #52576a;
  padding: 15px 0 0 15px;
  p {
    color: #ffffff;
  }
  code {
    background: #343642;
    color: #ffffff;
  }
  td {
    padding: 0;
    border: none;
  }
  a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
  }
}
