#guide .calloutlist {
  margin: -24px 0 15px auto;
  border: 1px solid #d3dae6;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 16px;
  table {
    margin-bottom: 0;
    tbody {
      border: none;
    }
    td {
      padding: 0;
      width: "12px";
      border: none;
    }
    tr:hover {
      background: #fff;
    }
  }
  a {
    text-decoration: underline;
  }
}
