#guide {
  .conum {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #f5f7fa;
    background-color: #0080d5;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    font-family: Inter, sans-serif;
    font-style: normal;
    &::after {
      content: attr(data-value);
    }
  }
}