#guide {
  .conum {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #f5f7fa;
    background-color: rgb(0, 119, 204);
    border-radius: 100px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    &::after {
      content: attr(data-value);
    }
  }
}