#guide {
  div {
    &.chapter,
    &.part,
    &.section {
      margin-bottom: 2em;
    }
  }

  .article div.section,
  .book div.part,
  .book div.chapter,
  .chapter div.section {
      margin-top: 2em;
  }
}

.guide-section {
  margin-bottom: 30px;
}

#sticky_content {
  padding-bottom: 30px;
}