#guide {
  div {
    &.chapter,
    &.part,
    &.section {
      margin-bottom: 2em;
      /* width: 835px */
    }
  }

  .article div.section,
  .book div.part,
  .book div.chapter,
  .chapter div.section {
      margin-top: 2em;
  }
}

.guide-section {
  @media screen and (max-width: 992px) {
    padding-right: 40px;
  }
}

#sticky_content {
  padding-top: 80px;
  padding-bottom: 30px;
}
