#guide {
  .eui-icon {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    &.icon-bug { background-image: inline("img/icons/bug.svg"); }
    &.icon-checkInCircleFilled { background-image: inline("img/icons/checkInCircleFilled.svg"); }
    &.icon-warningFilled { background-image: inline("img/icons/warningFilled.svg"); }
  }
}