#guide {
  a {
    color: #00a9e5;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    &:hover, &:focus {
      text-decoration: underline !important;
    }
  }
}
