#guide {
  .heading-level-0 {
    display: block;
  }

  .heading-level-1 {
    display: block;
    a {
      font-size: 0.85rem;
    }
  }

  .heading-level-2 {
    display: block;
    padding-left: 1em !important;
  }

  .heading-level-3 {
    display: block;
    padding-left: 4.5em !important;
  }

  .otp-text {
    font-size: 85%;
  }
}