#guide {
  #heading-level-0 {
    display: block;
  }

  #heading-level-1 {
    display: block;
    padding-left: 1.5em !important;
  }

  #heading-level-2 {
    display: block;
    padding-left: 3em !important;
  }

  #heading-level-3 {
    display: block;
    padding-left: 4.5em !important;
  }
}