#guide {
  .page_header {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    background: #FFFFD2;
    color: black;
    display: none;
  }

  .version-warning {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    background: #FFFFD2;
    color: black;
  }

  .abstract .page_header,
  .abstract .version-warning {
      width: 100%;
  }
}
