#guide .sidebar {
  font-weight: normal;
  padding: 22px;
  margin: 15px 0 24px;
  position: relative;
  background: rgb(230, 241, 250);
  
  p:last-of-type {
    margin-bottom: 0em;
  }
  
  .title {
    margin: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    color: rgb(0, 107, 184);
  }
}
