#this_page {
  margin-bottom: 0;
  padding-left: 1em;
  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  ul {
    list-style: none;
    margin: 0;
    font-size: 0.85em;
    padding: 0;
  }
  li {
    line-height: 1.2em;
    margin-top: .3em;
    margin-bottom: .3em;
  }
  .active {
    font-weight: 700;
    font-style: ul;
  }
}
